 .u-section-1 {
  background-image: url("images/Designsemnome.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 60px;
  margin-top: 120px;
}.u-section-2 .u-sheet-1 {
  min-height: 632px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 60px 20px;
}.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 60px 20px;
}.u-section-4 .u-sheet-1 {
  min-height: 632px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 60px 20px;
}.u-section-5 .u-sheet-1 {
  min-height: 632px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 60px 20px;
}